.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
}

form label {
	display: block;
	margin-top: 10px;
}

form input, form button {
	display: block;
	margin-top: 5px;
}

form input[type="checkbox"] {
	display: inline-block;
	margin-top: 0;
}

#entries-table {
	margin-top: 20px;
	border-collapse: collapse;
}

#entries-table th, #entries-table td {
	padding: 10px;
	border: 1px solid #ccc;
}

#entries-table th {
	background-color: #f1f1f1;
}
